html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.kepler, body, input, textarea {
  font-family: "kepler-std-subhead", serif; }

.sofia, article h1, h2, h3, .button, a.comment-reply-link, .add-comment input[type="submit"], .label, .logged-in-as, .comment-notes, label, .comment-author, .comment-meta {
  font-family: "sofia-pro", sans-serif; }

body {
  font-size: 18px;
  line-height: 2em;
  color: #3b3b37; }

article h1, h2, h3 {
  font-style: normal;
  font-weight: 900; }

h1 {
  font-size: 2em; }

h2, h3 {
  font-size: 1.25em; }

a {
  color: #2076EA; }
  a:hover {
    opacity: 0.75; }

strong {
  font-weight: 600; }

*:focus {
  outline: none; }

input, textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  font-size: 1em; }

textarea {
  background: linear-gradient(to bottom, #ffffff 98%, #d9d9d9 2%);
  background-size: 100% 1.75em;
  line-height: 1.75em; }
  textarea:focus {
    background: linear-gradient(to bottom, #ffffff 98%, #c7dfff 2%);
    background-size: 100% 1.75em; }

input:focus {
  border-bottom-color: #C7DFFF; }

section {
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

.button, a.comment-reply-link, .add-comment input[type="submit"] {
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased; }

.boxed, a.comment-reply-link, .add-comment input[type="submit"] {
  display: inline-block;
  padding: 0.5em 1em 0.75em;
  border: 1px solid #3b3b37;
  -moz-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em; }

.label, .logged-in-as, .comment-notes, label {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1.5em; }

.contain {
  max-width: 50em;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  overflow: auto; }
  @media (max-width: 450px) {
    .contain {
      padding: 1em; } }
  @media (max-width: 600px) {
    .contain .slim.image img {
      width: 40%; }
    .contain .slim.image .caption {
      width: 60%;
      float: right;
      padding-left: 2em; }
    .contain .slim.image a.no_caption img {
      width: 100%; }
    .contain .slim.image ul > li {
      overflow: auto; } }
  @media (min-width: 600px) {
    .contain .slim {
      width: 40%; }
    .contain .wide {
      width: 60%; }
    .contain .left, .contain .right {
      float: left; }
    .contain .left {
      padding-right: 2em; } }

h1.logo {
  width: 6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1.logo span {
    display: block;
    font-size: 0.5em;
    position: relative;
    top: 0.55em;
    left: -2.5em;
    line-height: 0;
    text-align: right;
    width: 2em; }
@media(max-width: 600px) {
  h1.logo {
    position: relative;
    left: 0.75em;
    margin-left: auto;
    margin-right: auto; } }
#timelineAbout {
  margin-top: 2.25em; }
  @media (max-width: 768px) and (min-width: 500px) {
    #timelineAbout {
      width: 60%; } }
  @media (max-width: 600px) {
    #timelineAbout {
      margin-left: auto;
      margin-right: auto; } }

#mainTitle, #prologue {
  padding-top: 10em;
  padding-bottom: 10em; }

.detailLine {
  position: absolute;
  bottom: 0;
  left: 3em;
  background: white;
  width: 1px;
  height: 100%; }
  .detailLine.top {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiM2IzNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZjVlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b3b37), color-stop(100%, #fbf5ea));
    background-image: -moz-linear-gradient(#3b3b37, #fbf5ea);
    background-image: -webkit-linear-gradient(#3b3b37, #fbf5ea);
    background-image: linear-gradient(#3b3b37, #fbf5ea);
    height: 21em; }
    .detailLine.top:before {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      background: #3b3b37;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: -9px;
      left: -4px; }

#prologue {
  background: #fbf5ea; }

section.year {
  border-top: 1px solid #e8e8e8;
  clear: both; }
  section.year .number {
    background: #3b3b37;
    width: 3em;
    color: white;
    border-top: 1px solid #3b3b37;
    float: left;
    position: relative;
    top: -1px;
    text-align: center;
    font-size: 0.85em; }
  section.year ul.projects {
    width: 80%;
    float: left;
    border-top: 1px solid #3b3b37;
    position: relative;
    top: -1px;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 2em; }
    section.year ul.projects li {
      display: inline;
      margin-right: 0.5em;
      font-size: 2em; }
    section.year ul.projects a {
      text-decoration: none;
      color: #3b3b37; }

article .title .studio {
  margin-top: 1em; }
article .title .author {
  margin-top: 3em; }
article .title .right {
  margin-bottom: 5em; }
article .title .caption {
  margin-bottom: 2em; }
@media (min-width: 600px) {
  article .title {
    margin-top: 1em; } }
article .content > div {
  margin-bottom: 1em;
  overflow: auto; }
article .content .right {
  position: relative;
  top: -0.5em; }
@media (min-width: 600px) {
  article .image {
    clear: left; } }
article .gallery img {
  width: 27%;
  margin: 0 3%; }
article .gallery a {
  border: 1px solid gray;
  display: block;
  padding: 1em 0.5em 0.75em;
  text-align: center;
  cursor: pointer;
  color: gray; }
  article .gallery a:hover {
    opacity: 0.75; }
article .gallery p {
  font-size: 0.75em;
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
  opacity: 0.75; }
article .gallery, article .biblio {
  margin-top: 2em; }
article .title, article .content, article .comments, article .add-comment {
  clear: both;
  overflow: auto; }
article .caption {
  font-size: 0.75em;
  line-height: 1.5em;
  opacity: 0.8;
  margin-bottom: 2em; }
article .comments, article .add-comment {
  margin-top: 5em; }

li.comment {
  list-style: none;
  margin: 2em 0; }

.comment-author {
  text-transform: uppercase;
  display: inline-block; }
  .comment-author img {
    max-height: 2.5em;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em; }

.comment-meta {
  display: inline;
  font-size: 0.65em;
  position: relative;
  top: -0.5em; }
  .comment-meta a {
    text-decoration: none;
    color: #3b3b37; }

a.comment-edit-link {
  font-weight: 600; }

ul.parent > li.comment:nth-child(1) {
  margin-top: 0; }

ul.children li.comment {
  border-left: 1px solid lightgray;
  padding-left: 2em; }

a.comment-reply-link {
  color: black;
  text-decoration: none;
  border: 1px solid;
  padding: 0.35em 1em 0.5em;
  font-size: 0.75em; }

.comment-body p {
  margin-top: 1em; }

a.comment-reply-link {
  color: #3b3b37;
  text-decoration: none;
  font-size: 0.75em;
  margin-top: 1em;
  opacity: 0.25; }
  a.comment-reply-link:hover {
    opacity: 0.5; }

.add-comment input {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em; }
  .add-comment input[type="submit"] {
    background: none;
    border: 1px solid black;
    padding: 1em;
    width: inherit;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 1em 0; }

.logged-in-as, .comment-notes {
  margin: 0.5em 0; }
