/*  Style
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.kepler, body, input, textarea {
  font-family: "kepler-std-subhead", serif; }

.sofia, h1, h2, h3, .button, a.comment-reply-link, .add-comment input[type="submit"], .label, .logged-in-as, .comment-notes, label, .comment-meta {
  font-family: "sofia-pro", sans-serif; }

body {
  font-size: 18px;
  line-height: 2em;
  color: #3b3b37; }

h1, h2, h3 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: 900; }

h1 {
  font-size: 2em; }

a {
  color: #2076EA; }
  a:hover {
    opacity: 0.75; }

strong {
  font-weight: 600; }

*:focus {
  outline: none; }

input, textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  font-size: 1em; }

textarea {
  background: linear-gradient(to bottom, #ffffff 98%, #d9d9d9 2%);
  background-size: 100% 1.75em;
  line-height: 1.75em; }

input:focus {
  border-bottom-color: #C7DFFF; }

textarea:focus {
  background: linear-gradient(to bottom, #ffffff 98%, #c7dfff 2%);
  background-size: 100% 1.75em; }

.contain {
  max-width: 50em;
  padding: 2em;
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 450px) {
    .contain {
      padding: 1em; } }

img {
  max-width: 100%;
  height: auto; }

.button, a.comment-reply-link, .add-comment input[type="submit"] {
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased; }

.label, .logged-in-as, .comment-notes, label {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1.5em; }

article .title .studio {
  margin-top: 1em; }
article .title .author {
  margin-top: 3em; }
article .title .right {
  margin-bottom: 5em; }
article .title .caption {
  margin-bottom: 2em; }
@media (min-width: 600px) {
  article .title {
    margin-top: 1em; } }
article .content > div {
  margin-bottom: 1em; }
article .content .right {
  position: relative;
  top: -0.5em; }
@media (max-width: 600px) {
  article .left.image img {
    width: 40%; }
  article .left.image .caption {
    width: 60%;
    float: right;
    padding-left: 2em; } }
@media (min-width: 600px) {
  article .left {
    width: 40%;
    float: left;
    clear: left;
    padding-right: 2em; }
  article .right {
    width: 60%;
    float: left; }
  article .left.large {
    width: 60%; }
  article .right.short {
    width: 40%; } }
article .gallery img {
  width: 27%;
  margin: 0 3%; }
article .gallery a {
  border: 1px solid gray;
  display: block;
  padding: 1em 0.5em 0.75em;
  text-align: center;
  cursor: pointer;
  color: gray; }
  article .gallery a:hover {
    opacity: 0.75; }
article .gallery p {
  font-size: 0.75em;
  border-top: 1px solid lightgray;
  padding-top: 0.5em; }
article .title, article .content, article .comments, article .add-comment {
  clear: both;
  overflow: auto; }
article .caption {
  font-size: 0.75em;
  line-height: 1.5em;
  opacity: 0.8;
  margin-bottom: 2em; }
article .comments, article .add-comment {
  margin-top: 5em; }

li.comment {
  list-style: none;
  margin: 2em 0; }

.comment-author {
  font-family: "sofia-pro";
  text-transform: uppercase;
  display: inline-block; }
  .comment-author img {
    max-height: 2.5em;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em; }

.comment-meta {
  display: inline;
  font-size: 0.65em;
  position: relative;
  top: -0.5em; }
  .comment-meta a {
    text-decoration: none;
    color: black; }

a.comment-edit-link {
  font-weight: 600; }

ul.children li.comment {
  border-left: 1px solid lightgray;
  padding-left: 2em; }

a.comment-reply-link {
  color: black;
  text-decoration: none;
  border: 1px solid;
  padding: 0.35em 1em 0.5em;
  font-size: 0.75em; }

.add-comment input {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em; }
  .add-comment input[type="submit"] {
    background: none;
    border: 1px solid black;
    padding: 1em;
    width: inherit;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 1em 0; }

.logged-in-as, .comment-notes {
  margin: 0.5em 0; }
