html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.kepler, body, input, textarea {
  font-family: "kepler-std-subhead", serif; }

.sofia, article h1, h2, h3, .button, a.comment-reply-link, .add-comment input[type="submit"], .label, .logged-in-as, .comment-notes, label, .notificationsIcon, .smallLogo, .newPostLine, section.year a.comments, .comment-author, .comment-meta {
  font-family: "sofia-pro", sans-serif; }

body {
  font-size: 18px;
  line-height: 2em;
  color: #3B3B37; }

article h1, h2, h3 {
  font-style: normal;
  font-weight: 900; }

h1 {
  font-size: 2em; }

h2, h3 {
  font-size: 1.25em; }

a {
  color: #2076EA; }
  a:hover {
    opacity: 0.75; }

strong {
  font-weight: 600; }

hr {
  border: none;
  border-top: 1px solid #e8e8e8;
  margin: 0;
  width: 100%; }

em {
  font-style: italic; }

small {
  font-size: 0.75em; }

*:focus {
  outline: none; }

input, textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  font-size: 1em; }

textarea {
  background: linear-gradient(to bottom, #ffffff 98%, #ececeb 2%);
  background-size: 100% 1.75em;
  line-height: 1.75em; }
  textarea:focus {
    background: linear-gradient(to bottom, #ffffff 98%, #c7dfff 2%);
    background-size: 100% 1.75em; }

input:focus {
  border-bottom-color: #C7DFFF; }

button {
  background: none;
  color: #3B3B37;
  border: none; }

input[type=text] {
  border-bottom: 1px solid #ececeb; }

input[type=submit] {
  width: initial; }

input.number {
  width: 4em;
  text-align: center; }

select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  margin: 0 1em;
  background-image: url("../img/down.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  min-width: 8em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ececeb;
  padding: 0;
  line-height: 1.35em; }

.page header {
  border-bottom: 1px solid #ececeb;
  margin: 1.55em 0 4em;
  opacity: 0.5; }
  .page header a {
    text-decoration: none; }
.page footer {
  border-top: 1px solid #ececeb;
  margin: 4em 0;
  opacity: 0.5; }

.form input, .form textarea {
  margin-bottom: 4em; }

section {
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

.button, a.comment-reply-link, .add-comment input[type="submit"] {
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased; }

.boxed, a.comment-reply-link, .add-comment input[type="submit"] {
  display: inline-block;
  padding: 0.5em 1em 0.75em;
  border: 1px solid #3B3B37;
  -moz-border-radius: 0.35em;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em; }

.label, .logged-in-as, .comment-notes, label {
  font-size: 0.75em;
  text-transform: uppercase;
  line-height: 1.5em; }

pre strong.new {
  color: #FFD900; }

.contain {
  max-width: 50em;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  overflow: auto; }
  @media (max-width: 450px) {
    .contain {
      padding: 1em; } }
  @media (max-width: 600px) {
    .contain .slim.image img {
      width: 40%; }
    .contain .slim.image .caption {
      width: 60%;
      float: right;
      padding-left: 2em; }
    .contain .slim.image a.no_caption img {
      width: 100%; }
    .contain .slim.image ul > li {
      overflow: auto; } }
  @media (min-width: 600px) {
    .contain .slim {
      width: 40%; }
    .contain .wide {
      width: 60%; }
    .contain .left, .contain .right {
      float: left; }
    .contain .left {
      padding-right: 2em; } }

a#mMenuButton,
a#addNewPost {
  position: fixed;
  right: 2em;
  cursor: pointer; }

a#mMenuButton {
  color: #3B3B37;
  top: 4em;
  z-index: 10; }
  a#mMenuButton .icon {
    width: 2.5em;
    border-top: 1px solid;
    border-bottom: 1px solid; }
    a#mMenuButton .icon:before {
      content: "";
      width: 2.5em;
      border-top: 1px solid;
      display: block;
      margin: 0.75em 0; }
  a#mMenuButton .notificationsIcon {
    position: absolute;
    top: -1em;
    left: -1em; }
  @media (max-width: 450px) {
    a#mMenuButton {
      top: 2em;
      right: 1em; }
      a#mMenuButton .icon {
        width: 1.25em;
        margin: 0.5em 1em; }
        a#mMenuButton .icon:before {
          width: 1.25em;
          margin: 0.325em 0; }
      a#mMenuButton .notificationsIcon {
        top: -0.25em;
        left: 0.25em; } }

.notificationsIcon {
  font-weight: bold;
  background: #FFD900;
  font-size: 0.75em;
  line-height: 1.65em;
  width: 1.75em;
  height: 1.75em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: inline-block; }

a#addNewPost {
  width: 2.5em;
  height: 2.5em;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid;
  color: #3B3B37;
  top: 10em;
  z-index: 3; }
  a#addNewPost .icon {
    border-top: 1px solid;
    width: 1.15em;
    top: 1.15em;
    position: relative;
    margin: 0 auto; }
    a#addNewPost .icon:before {
      content: "";
      border-top: 1px solid;
      width: 1.15em;
      display: block;
      position: relative;
      top: -1px;
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  @media (max-width: 450px) {
    a#addNewPost {
      width: 1.5em;
      height: 1.5em; }
      a#addNewPost .icon {
        top: 0.65em;
        width: 0.75em; }
        a#addNewPost .icon:before {
          width: 0.75em; } }

.drawer {
  background: rgba(255, 255, 255, 0.9);
  height: 90vh;
  margin-top: 5vh;
  position: fixed;
  width: 100%;
  max-width: 20em;
  right: -102vw;
  z-index: 5;
  padding: 2em;
  padding-right: 8em;
  -moz-box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  -moz-transition: right 0.5s;
  -o-transition: right 0.5s;
  -webkit-transition: right 0.5s;
  transition: right 0.5s; }
  .drawer .contain {
    margin-left: 0;
    margin-right: 6em; }
  .drawer nav {
    margin-bottom: 2em; }
    .drawer nav a {
      display: block; }
  .drawer a {
    color: #3B3B37;
    text-decoration: none; }
  .drawer .contentContainer, .drawer #indiceManual {
    display: none; }
  .drawer.openMenu {
    right: -5vh; }
  .drawer.openContent .menu {
    position: absolute;
    z-index: 1;
    max-width: 12em; }
    @media (max-width: 768px) {
      .drawer.openContent .menu {
        display: none; } }
  .drawer.openContent .contentContainer {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 14em;
    padding-right: 2em;
    overflow: auto; }
    @media (max-width: 768px) {
      .drawer.openContent .contentContainer {
        padding-left: 0;
        padding-right: 1em; } }
  @media (max-width: 768px) {
    .drawer.openContent {
      padding-right: 3em; } }
  .drawer .notificationsIcon {
    margin-right: 0.5em;
    position: relative;
    top: -0.15em; }
  @media (max-width: 1100px) {
    .drawer article .content .twoColumns {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1; } }
  @media (max-width: 450px) {
    .drawer {
      padding: 1em;
      height: 95vh;
      margin-top: 2.5vh; }
      .drawer.openMenu {
        right: -2.5vh;
        padding-right: 1em; } }

pre#indiceManual {
  font-size: 0.75em; }

#mainTitle, #prologue {
  padding-top: 10em;
  padding-bottom: 10em; }

.detailLine {
  position: absolute;
  bottom: 0;
  left: 3em;
  background: white;
  width: 1px;
  height: 100%; }
  .detailLine.top {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiM2IzNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZjVlYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3b3b37), color-stop(100%, #fbf5ea));
    background-image: -moz-linear-gradient(#3b3b37, #fbf5ea);
    background-image: -webkit-linear-gradient(#3b3b37, #fbf5ea);
    background-image: linear-gradient(#3b3b37, #fbf5ea);
    height: 21em; }
    .detailLine.top:before {
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      background: #3B3B37;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: -9px;
      left: -4px; }
  @media (max-width: 450px) {
    .detailLine {
      display: none; } }

h1.logo {
  width: 6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1.logo span {
    display: block;
    font-size: 0.5em;
    position: relative;
    top: 0.55em;
    left: -2.5em;
    line-height: 0;
    text-align: right;
    width: 2em; }
@media(max-width: 600px) {
  h1.logo {
    position: relative;
    left: 0.75em;
    margin-left: auto;
    margin-right: auto; } }
#timelineAbout {
  margin-top: 2.25em; }
  @media (max-width: 768px) and (min-width: 500px) {
    #timelineAbout {
      width: 60%; } }
  @media (max-width: 600px) {
    #timelineAbout {
      margin-left: auto;
      margin-right: auto; } }

#prologue {
  background: #FBF5EA; }

.smallLogo {
  position: absolute;
  top: -0.825em;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.25em; }

.newPostLine {
  background: url("../img/newPost.svg") no-repeat;
  background-position: top left;
  position: absolute;
  top: 0;
  left: 3em;
  width: 4.5em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 5.05em;
  height: 320px; }
  .newPostLine span {
    font-size: 0.75em; }
    @media (max-width: 600px) {
      .newPostLine span {
        position: relative;
        top: -6em;
        color: #2076EA; } }

#latestPost {
  padding: 3em;
  overflow: hidden; }
  #latestPost .contain {
    background: #F3F6FB;
    margin-left: 8em;
    padding: 1.75em 2em 2em;
    border-left: 1px solid #2076EA; }
    #latestPost .contain a {
      text-decoration: none; }
    #latestPost .contain h3 {
      font-size: 2em;
      font-weight: 100; }
    @media (max-width: 600px) {
      #latestPost .contain {
        position: relative;
        z-index: 1;
        margin-left: 0;
        padding: 1em; } }
    @media (min-width: 600px) {
      #latestPost .contain {
        margin-left: 6em; } }

#timeline .period {
  background: #3B3B37;
  width: 3.05em;
  color: white;
  border-right: 1px solid white;
  float: left;
  position: relative;
  text-align: center; }
  #timeline .period span {
    font-size: 0.85em; }
  #timeline .period .close {
    position: absolute;
    bottom: -1.35em;
    left: 0;
    font-size: 2em;
    width: 1.525em; }
  #timeline .period.range {
    padding: 1em 0;
    max-height: 8em; }
#timeline hr {
  position: absolute;
  z-index: -1; }

#newChapter {
  overflow: auto; }
  #newChapter .title {
    background: #3B3B37;
    color: white;
    float: left;
    width: 85%; }
    #newChapter .title .contain {
      margin-left: 0; }
  #newChapter h2 {
    font-size: 2em; }
  #newChapter article {
    margin-top: 8em; }
    #newChapter article p {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  #newChapter a {
    color: #95bef5; }
  #newChapter p {
    opacity: 0.8; }

@media (max-width: 1100px) {
  .home .contain {
    margin-left: 4em; } }
@media (max-width: 450px) {
  .home .contain {
    margin-left: 0;
    margin-right: 0; } }

section.year {
  clear: both;
  margin-top: 1px;
  position: relative;
  overflow: auto; }
  section.year .contentContainer {
    width: 85%;
    float: left;
    border-top: 1px solid #3B3B37; }
  section.year .projects {
    padding-left: 2em;
    padding-top: 1em;
    margin-bottom: 2em; }
    section.year .projects li {
      display: inline;
      margin-right: 0.5em;
      font-size: 2em; }
    section.year .projects a {
      text-decoration: none;
      color: #3B3B37; }
  section.year a.comments {
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    font-size: 0.325em;
    line-height: 1em;
    background: #3B3B37;
    color: white !important;
    min-width: 1.5em;
    display: inline-block;
    height: 1.5em;
    text-align: center;
    padding: 0.25em 0.5em 0;
    vertical-align: top; }
    section.year a.comments.no {
      background: none;
      border: 1px solid #3B3B37;
      color: black !important;
      position: relative;
      width: 1.4em;
      height: 1.4em; }
      section.year a.comments.no:before {
        content: "";
        position: absolute;
        top: 0.5em;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: #3B3B37;
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }

ul.articles li {
  background: #ececeb;
  padding: 0 1em;
  margin-left: 2em;
  margin-bottom: 1px;
  max-height: 2em;
  position: relative; }
  ul.articles li a {
    color: #3B3B37;
    text-decoration: none;
    white-space: nowrap; }
    ul.articles li a em {
      font-size: 0.85em;
      margin-left: 1em; }
  ul.articles li:before {
    content: "";
    display: block;
    position: absolute;
    left: -2em;
    width: 2em;
    height: 2em;
    background-image: url("../img/articleIcon.svg");
    background-position: center;
    background-repeat: no-repeat; }

article .title .studio {
  margin-top: 1em; }
article .title .author {
  margin-top: 3em; }
article .title .right {
  margin-bottom: 5em; }
article .title .caption {
  margin-bottom: 2em; }
@media (min-width: 600px) {
  article .title {
    margin-top: 1em; } }
article .content > div {
  margin-bottom: 1em;
  overflow: auto; }
article .content .right {
  position: relative;
  top: -0.5em; }
article .content .twoColumns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; }
@media (min-width: 600px) {
  article .image {
    clear: left; } }
article .gallery img {
  width: 27%;
  margin: 0 3%; }
article .gallery a {
  border: 1px solid gray;
  display: block;
  padding: 1em 0.5em 0.75em;
  text-align: center;
  cursor: pointer;
  color: gray; }
  article .gallery a:hover {
    opacity: 0.75; }
article .gallery p {
  font-size: 0.75em;
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
  opacity: 0.75; }
article .gallery, article .biblio {
  margin-top: 2em; }
article .title, article .content, article .comments, article .add-comment {
  clear: both;
  overflow: auto; }
article .caption {
  font-size: 0.75em;
  line-height: 1.5em;
  opacity: 0.8;
  margin-bottom: 2em; }
article .comments, article .add-comment {
  margin-top: 5em; }

li.comment {
  list-style: none;
  margin: 2em 0; }

.comment-author {
  text-transform: uppercase;
  display: inline-block; }
  .comment-author img {
    max-height: 2.5em;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em; }

.comment-meta {
  display: inline;
  font-size: 0.65em;
  position: relative;
  top: -0.5em; }
  .comment-meta a {
    text-decoration: none;
    color: #3B3B37; }

a.comment-edit-link {
  font-weight: 600; }

ul.parent > li.comment:nth-child(1) {
  margin-top: 0; }

ul.children li.comment {
  border-left: 1px solid lightgray;
  padding-left: 2em; }

a.comment-reply-link {
  color: black;
  text-decoration: none;
  border: 1px solid;
  padding: 0.35em 1em 0.5em;
  font-size: 0.75em; }

.comment-body p {
  margin-top: 1em; }

a.comment-reply-link {
  color: #3B3B37;
  text-decoration: none;
  font-size: 0.75em;
  margin-top: 1em;
  opacity: 0.25; }
  a.comment-reply-link:hover {
    opacity: 0.5; }

.add-comment input {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em; }
  .add-comment input[type="submit"] {
    background: none;
    border: 1px solid black;
    padding: 1em;
    width: inherit;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 1em 0; }

.logged-in-as, .comment-notes {
  margin: 0.5em 0; }
