

// Color Variables

$black: #3B3B37
$blue: #2076EA
$beige: #FBF5EA
$yellow: #FFD900
$lightGray: adjust-lightness($black, 70%)


*
	+box-sizing(border-box)







// Mixins

=absolute($to: null, $ri: null, $bo: null, $le: null, $zi: null)
	position: absolute
	top: $to
	right: $ri
	bottom: $bo
	left: $le
	z-index: $zi

=relative($to: null, $ri: null, $bo: null, $le: null, $zi: null)
	position: relative
	top: $to
	right: $ri
	bottom: $bo
	left: $le
	z-index: $zi








// Type

.kepler
	font-family: "kepler-std-subhead", serif

.sofia
	font-family: "sofia-pro", sans-serif


body
	@extend .kepler
	font-size: 18px
	line-height: 2em
	color: $black

article h1, h2, h3
	@extend .sofia
	font-style: normal
	font-weight: 900

h1
	font-size: 2em

h2, h3
	font-size: 1.25em

a
	color: $blue
	&:hover
		opacity: .75

strong
	font-weight: 600

hr
	border: none
	border-top: 1px solid #e8e8e8
	margin: 0
	width: 100%

em
	font-style: italic

small
	font-size: .75em







// Forms

*:focus
	outline: none

input, textarea
	@extend .kepler
	width: 100%
	max-width: 100%
	border: none
	font-size: 1em

textarea
	background: linear-gradient( to bottom, #FFF 98%, $lightGray 2% )
	background-size: 100% 1.75em
	line-height: 1.75em
	&:focus
		background: linear-gradient( to bottom, #FFF 98%, #C7DFFF 2% )
		background-size: 100% 1.75em

input:focus
	border-bottom-color: #C7DFFF

button
	background: none
	color: $black
	border: none

input[type=text]
	border-bottom: 1px solid $lightGray

input[type=submit]
	width: initial

input.number
	width: 4em
	text-align: center

select
	+border-radius(0px)
	-webkit-appearance: none
	margin: 0 1em
	background-image: url('../img/down.svg')
	background-repeat: no-repeat
	background-position: 95%
	min-width: 8em
	background-color: transparent
	border: none
	border-bottom: 1px solid $lightGray
	padding: 0
	line-height: 1.35em





// Header & Footer – en Page, Single

header
	border-bottom: 1px solid $lightGray
	margin: 1.55em 0 4em
	opacity: .5
	a
		text-decoration: none
footer
	border-top: 1px solid $lightGray
	margin: 4em 0
	opacity: .5


.form
	input, textarea
		margin-bottom: 4em
