<<<<<<< HEAD


// Single Style

article

=======
article
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
	.title
		.studio
			margin-top: 1em
		.author
			margin-top: 3em
		.right
			margin-bottom: 5em
		.caption
			margin-bottom: 2em
		@media (min-width: 600px)
			margin-top: 1em

	.content
		> div
			margin-bottom: 1em
		.right
			position: relative
<<<<<<< HEAD
			top: -.5em
=======
			top: -0.5em
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1

	@media (max-width: 600px)
		.left.image
			img
				width: 40%
			.caption
				width: 60%
				float: right
				padding-left: 2em
<<<<<<< HEAD
=======

>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
	@media (min-width: 600px)
		.left
			width: 40%
			float: left
			clear: left
			padding-right: 2em
<<<<<<< HEAD
		.right
			width: 60%
			float: left
		.left.large
			width: 60%
		.right.short
			width: 40%

=======
			&.large
				width: 60%
		.right
			width: 60%
			float: left
			&.short
				width: 40%
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
	.gallery
		img
			width: 27%
			margin: 0 3%
		a
			border: 1px solid gray
			display: block
<<<<<<< HEAD
			padding: 1em .5em .75em
=======
			padding: 1em 0.5em 0.75em
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
			text-align: center
			cursor: pointer
			color: gray
			&:hover
<<<<<<< HEAD
				opacity: .75
		p
			font-size: 0.75em
			border-top: 1px solid lightgray
			padding-top: .5em
=======
				opacity: 0.75
		p
			font-size: 0.75em
			border-top: 1px solid lightgray
			padding-top: 0.5em

	.gallery, .biblio
		margin-top: 2em
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1

	.title, .content, .comments, .add-comment
		clear: both
		overflow: auto

	.caption
		font-size: 0.75em
		line-height: 1.5em
<<<<<<< HEAD
		opacity: .8
=======
		opacity: 0.8
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
		margin-bottom: 2em

	.comments, .add-comment
		margin-top: 5em

li.comment
	list-style: none
	margin: 2em 0

.comment-author
<<<<<<< HEAD
	font-family: "sofia-pro"
=======
	@extend .sofia
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
	text-transform: uppercase
	display: inline-block
	img
		max-height: 2.5em
		width: auto
		border-radius: 50%
		vertical-align: middle
<<<<<<< HEAD
		margin-right: .5em
=======
		margin-right: 0.5em
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1

.comment-meta
	@extend .sofia
	display: inline
<<<<<<< HEAD
	font-size: .65em
	position: relative
	top: -.5em
	a
		text-decoration: none
		color: black
=======
	font-size: 0.65em
	position: relative
	top: -0.5em
	a
		text-decoration: none
		color: $black
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1

a.comment-edit-link
	font-weight: 600

<<<<<<< HEAD
=======
ul.parent > li.comment:nth-child(1)
	margin-top: 0

>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
ul.children li.comment
	border-left: 1px solid lightgray
	padding-left: 2em

<<<<<<< HEAD
a.comment-reply-link
	@extend .button
	color: black
	text-decoration: none
	border: 1px solid
	padding: .35em 1em .5em
	font-size: .75em

// @media (max-width:1000px) {
//     .content .right p {
//         font-size: 1.1em;
//         line-height: 2em;
//     }
//     .content .right h2 {
//         font-size: 1.5em;
//         line-height: 1.5em;
//         margin-bottom: 1em;
//     }
// }
// @media (min-width:1000px) {
//     .content .right p {
//         font-size: 1.25em;
//         line-height: 2em;
//     }
//     .content .right h2 {
//         font-size: 2em;
//         line-height: 1.5em;
//         margin-bottom: 1em;
//     }
// }



=======
.comment-body p
	margin-top: 1em

a.comment-reply-link
	@extend .button
	@extend .boxed
	color: $black
	text-decoration: none
	font-size: 0.75em
	margin-top: 1em
	opacity: .25
	&:hover
		opacity: .5
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1

.add-comment input
	border-bottom: 1px solid lightgray
	margin-bottom: 2em
	&[type="submit"]
		@extend .button
<<<<<<< HEAD
		background: none
		border: 1px solid black
		padding: 1em
		width: inherit
		+border-radius(4px)
=======
		@extend .boxed
		background: none
		padding: 1em
		width: inherit
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
		margin: 1em 0

.logged-in-as, .comment-notes
	@extend .label
<<<<<<< HEAD
	margin: .5em 0
=======
	margin: 0.5em 0
>>>>>>> 0107541ae05a0645b7277ab0e919e7f460c6f4b1
