
h1.logo
	width: 6em
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	span
		display: block
		font-size: .5em
		+relative($le: -2.5em, $to: .55em)
		line-height: 0
		text-align: right
		width: 2em
	@media(max-width: 600px)
		+relative($le:.75em)
		margin-left: auto
		margin-right: auto


.smallLogo
	+absolute($to: -.825em)
	@extend .sofia
	font-weight: 600
	letter-spacing: 2px
	font-size: 1.25em


#timelineAbout
	margin-top: 2.25em
	@media (max-width: 768px) and (min-width:500px)
		width: 60%
	@media (max-width: 600px)
		margin-left: auto
		margin-right: auto




#mainTitle, #prologue
	padding-top: 10em
	padding-bottom: 10em


.detailLine
	+absolute($bo: 0, $le: 3em)
	background: white
	width: 1px
	height: 100%
	&.top
		+background-image(linear-gradient($black, $beige))
		height: 21em
		&:before
			content: ''
			display: block
			width: 9px
			height: 9px
			background: $black
			+border-radius(50%)
			+absolute($to: -9px, $le: -4px)



#prologue
	background: $beige




section.year
	border-top: 1px solid #e8e8e8
	clear: both

	.number
		background: $black
		width: 3em
		color: white
		border-top: 1px solid $black
		float: left
		+relative($to:-1px)
		text-align: center
		font-size: .85em

	ul.projects
		width: 80%
		float: left
		border-top: 1px solid $black
		+relative($to:-1px)
		padding-left: 1em
		padding-top: 1em
		margin-bottom: 2em
		li
			display: inline
			margin-right: .5em
			font-size: 2em
		a
			text-decoration: none
			color: $black
